
@media screen and (max-width: 1200px){

    .col_1{

        width: 50%;
    }

    .col_2{

        width: 50%;
    }

    .col_3{

        width: 100%;
    }
}

@media screen and (min-width: 1199px){


    .col_1{

        width: 33.3333%;
    }

    .col_2{

        width: 33.3333%;
    }

    .col_3{

        width: 33.3333%;
    }
}

@media screen and (max-width: 768px){

    .col_1{

        width: 100%;
    }

    .col_2{

        width: 100%;
    }

    .col_3{

        width: 100%;
    }
}

.container{
     width: 98%;
     margin: auto;

 }

.col_1, .col_2, .col_3, .col_4{

    float:left;
    border-radius: 25px;
    text-align: justify;
    margin-bottom: 5px;
}

.col_4{
    width: 100%;
}

p{
    padding: 1%;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgba(242,203,5,1);
    border-radius: 25px;
}


body{

    background-color: #0378A6;
    margin: 0;
}

li{
    float: left;
    text-align: center;
    margin: auto;

}

li a.active{

    background-color: #4cad50;
    color: white;
}

li a:hover{


    background-color: rgba(85,85,85,0.8);
}

a{
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}